<h1> Cat Info </h1> 

<ul>
<li> Name <%= @cat.name %> </li> <br>
<li> DOB <%= @cat.birth_date %> </li> <br>
<li> Color  <%= @cat.color %> </li> <br>
<li> Sex <%= @cat.sex %> </li> <br>
<li> Description <%= @cat.description %> </li>
</ul>